body{
    margin: 0;
}

.hearder{
    width: 100%;
    height: 38px;
    background-color: #262626;
}

.hearderleft{
    color: #262626;
    width:60%;
    float:left;
}

.hearderright{
    color: #262626;
    width: 20%;
    float:right;
}

.tool{
    position: fixed;
    top:60%;
    right: 5.2%;
}

a{
    text-decoration: none;
}

.hearderleft a{
    color: #999999;
    font-size: 8px;
    top:8px;
    text-align:center;
    line-height:38px;
}

.hearderright a{
    color: #999999;
    font-size: 8px;
    top:8px;
    line-height:38px;
    padding: 0 8px;
}

.block{
    width: 85%;
    margin: 0px auto;
}

.cart{
    width: 30px;
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333333;
}

.cart img{
    color: #999999;
}

.mi{
    width:  60px;
    height: 60px;
    display: inline;
    float: left;
    position: relative;
    top: 15px;
    /*top:15px;*/
}

.h1 a{
    color: black;
    padding: 15px 15px 15px 15px;

}

.h1.block{
    height: 90px;
    width: 85%;
    margin: 0px auto;
    line-height:  90px;
    max-width:  100%;
}
.search{
    float: right;
    margin-top: -65px;
}
.search2{
    width: 250px;
    height: 40px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #D9D9D9;
    float: right;
}
.search1{
    height: 40px;
    width: 40px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #D9D9D9;
    float: right;
}
.search1 img{
    height: 22px;
    width: 22px;
    margin-bottom: 20px;
    margin-left: 9px;
}
.searchword{
    height: 15px;
    width: 100px;
    text-align: center;
    float: right;
    margin-right: 5px;
    margin-top: 12px;
    background-color:gainsboro;
}
.searchword p{
    font-size: 10px;




}
.h2{
    width: 85%;
    height: 480px;

}
.h2.block img{
    width: 85%;

    position: absolute;

}


.menu a{
    position: relative;
    display: block;
    color: white;
    font-size: 15px ;
    height: 45px;
    left:30px;
    top:15px;
    /*align-items: center;*/
}

.menu{
    background-color: rgba(100,100,100,0.9);
    width: 250px;
    height: 459px;
    position: relative;
    z-index: 1;
}

.arrow{
    height: 20px;
    width: 20px;
}

.h3.block{
    width: 85%;
    height: 200px;
    top : 15px;
}

.h3.block ul li img{
    position: relative;
    top:40px;
}

.h3b{
    float: left;

}
.h3img{
    height: 170px;
    width: 300px;
    padding: 0 0 0 23px;
}


.h3.block ul li{

     　display:inline-block;
     background-color: darkgoldenrod;
     width: 79px;
     height: 84px;
     float: left;
     font-size: 10px;
     list-style-type:none;


 }
.h3.block ul li img{
    display: block;
    width: 30px;
    height: 30px;
    top:5px;
    margin-left: 24px;
    margin-top: 10px;
}
.h3.block ul{
    width:237px;
    float: left;
    top:0px;
    margin: auto;
    padding: 0 15px 0 0;
}
.h3t a{
    display: block;
    width: 100%;
    height: 100%;

}

.h3t p{
    width: 100%;
    text-align: center;

}
.h4{

    height:380px ;
}
.h4title{
    font-size: 20px;
    margin-bottom: 10px;
}

.h4a{
    width: 232px ;
    height: 340px;
    background-color: #EDE8E8;
    float: left;
    text-align: center;


}

.h4b{
    width: 232px ;
    height: 340px;
    background-color: #F9F9F9;
    float: left;
    margin-left: 14px;
    text-align: center;
}
.h4time{
    width: 40px;
    height: 45px;
    background-color:#4D4540 ;
    float: left;
    color: white;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
.h4time p{
    margin-top: 9px;
}
.h4fuhao{
    width: 5px;
    height: 45px;
    float: left;
    font-size: 20px;
}

.h4fuhao p{
    margin-top: 9px;
}
.h4clock{
    width: 200px;
    margin-left:35px;
    margin-top: 20px;

}
.h4t1{
    font-size: 14px;
    color: #242424;
    bottom:-5px;
}
.h4t2{
    font-size: 10px;
    color: #A7A7A7;
}
.h4t3{
    font-size: 14px;
    color: #EE5819;

    display: inline-block;
}

.h4t3a{
    font-size: 14px;
    color: #A7A7A7;
    text-decoration:line-through;
    display: inline-block;
}
.h4b img{
    margin-top: 40px;

}
.ad{

    margin-top: 35px;
    margin-bottom: 20px;
}

.product{
    background-color: #F2F2F2;
}
.h5{
    height: 700px;
}
.h5title{
    font-size:20px ;
    position: relative;
    top: 30px;
    height: 80px;
}
.h5tl{
    float: left;

}
.h5tr{
    float: right;
    text-align: center;

}

h5imgll{

    width :234px;
}
.h5imgl{
    float: left;
}

.h5imgr{
    float:right;
    background-color: white;
    width: 230px;
    height: 300px;
    margin-left: 15px;
    margin-bottom: 20px;
    z-index: 1;
    text-align: center;
}






.h6{
    height: 700px;
}
.h6title{
    font-size:20px ;
    position: relative;
    top: 30px;
    height: 80px;
}
.h6tl{
    float: left;
    font-size: 20px;
}
.h6tr{
    float: right;
    margin-left: 20px;
    font-size: 18px;
    color: #242424;
}

.h6imgl{
    float: left;
    width: 234px;
    height: 300px;
    background-color: white;
    text-align: center;
}
.h6imgr{
    margin-left: 13px;
    margin-bottom: 15px;
}

.h6imglast{
    float: left;
    width: 234px;
    height: 142px;
    background-color: white;

    margin-left: 13px;
    margin-bottom: 15px;

}
.h6t1{
     float: left;
     width: 120px;
     display: block;
     font-size: 15px;
     margin-bottom: 10px;
 }

.h6t2{
    font-size: 10px;
    color: #EE5819;
}


.h6lasttext{
    width:110px;
    height: 60px;
    margin-left: 20px;
    margin-top: 40px;

}
.h6imglast img{
    float: right;
    width: 70px;
    margin-top: -70px;
    margin-right: 20px;
}

.foot1{
    width: 100%;
    height: 200px;
    background-color: white;
    top: 50px;

}
.footbtn{
    width:20% ;
    float: left;
    text-align: center;
    border-bottom: #999999;
    color:#4E4E4E;
    height: 50px;
}

.footlist{
    width: 80%;
}

.footlistbtn{
    color: #FC5009;
    text-align: center;
    font-size: 10px;
    border-style:solid;
    border-width:1px;
    width: 120px;
    height: 25px;
    border-color: #FC5009;
    margin-left: 20px;
    display: inline-block;

}

.list{
    width: 14%;
    float: left;
    height: 150px;
    margin-top: 40px;
}
.footlistbtn img{
    float: left;
    margin-top: 5px;
    margin-left: 24px;


}
.footlistbtn{
    margin-top: 20px;
}
.footlistbtn p{
    float: left;
    margin-top: 4px;
    margin-bottom: 0px;
}
.list1{
    margin-top: 50px;
}
.text{
    text-align: center;
}

.foottext{
    font-size: 15px;
    color: #333333;
    padding: 15px 15px 15px 0;
}
.foottext1{
    font-size: 10px;
    color: #666666;
    padding: 5px 5px 5px 0;
}
.fotbig{
    color: #FC5009;
    font-size: 20px;
}

.foot2{
    background-color: #F2F2F2;
    height: 250px;
}

.foot2.block{

    height: 250px;
}
.foot2icon{
    padding: 30px 0;
    float: left;
    height:180px ;
    font-size: 10px;
    color: #666666;
}
.foot2text{
    font-size: 8px;
    color:#A0A0A0;
    float: left;
    padding: 0 0 0 10px;
    width: 80%;
}
.foot2img{
    float: left;
    padding: 10px 0 0 10px;

}